<div class="cmp cmp-add-question">
    <div class="main-container">
        <div class="row">
            <div class="col-sm-12 card">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <h4 class="text-primary p-2">Question Entry Options</h4>
                        <hr class="m-0">
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <h4 class="text-primary p-2">Question</h4>
                        <hr class="m-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>